h1{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

body{
    background-image: url("../img/background.jpg");
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

canvas {
    border: 1px solid black;
    background-color: #fff;
}

button.play-btn{
    position: absolute;
}

button.play-btn.active{
    display: none;
}

button.retry-btn{
    position: absolute;
    display: none;
}

button.retry-btn.active{
    display: block;
}

button.retry-btn.inactive{
    display: none;
}
